/* app css stylesheet */

html, body {
  height: 100%;
}

.container {
  height: 100%;
  min-width: 960px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

kit {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

.inventories {
  display: flex;
  flex: 1;
}

backpack, closet {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
    padding: 5px 5px;
    background-color: #DDD;
  }
}

.table-wrapper {
  flex: 1;
  overflow-y: auto;

  table {
    width: 100%;
    padding: 5px;

    tbody {
      min-height: 100px;

      .dndPlaceholder {
        background-color: #DDD;
      }
    }
  }
}

.table-footer {
  font-weight: bold;
  background-color: #DDD;
  padding: 5px;

  .total-weight {
    float: right;
  }
}

backpack, closet {
  tbody tr:hover {
    background-color: #EEE;
  }

  .category {
    width: 200px;
    text-align: left;
  }

  .name {
    width: 200px;
    text-align: left;
  }

  .weight {
    width: 100px;
    text-align: right;
  }
}

item-details {
  display: block;
  padding: 0 10px;
  margin-bottom: 20px;
}

backpack, closet, item-details {
  border: 1px solid #AAA;
}

