/* app css stylesheet */

body {
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}

.inventories {
  display: flex;
}

backpack, closet {
}

table {
}

table tfoot {
  font-weight: bold;
}

closet tbody tr:hover {
  background-color: #EEE;
}

closet .selected {
  background-color: #CCC;
}

item-details {
  display: block;
}

backpack, closet, item-details {
  border: 1px solid #AAA;
  padding: 10px;
}

backpack .category, closet .category {
  width: 200px;
  text-align: left;
}

backpack .name, closet .name {
  width: 200px;
  text-align: left;
}

backpack .weight, closet .weight {
  width: 100px;
  text-align: right;
}
