/* app css stylesheet */

body {
  max-width: 1200px;
}

.inventories {
  display: flex;
  align-items: stretch;
}

backpack, closet {
  flex-grow: 1;
}

item-details {
  display: block;
}

backpack, closet, item-details {
  border: 1px solid #AAA;
  padding: 10px;
}

.backpack .category, .closet .category {
  width: 200px;
  text-align: left;
}
.backpack .name, .closet .name {
  width: 200px;
  text-align: left;
}
.backpack .weight, .closet .weight {
  width: 100px;
  text-align: right;
}
