/* app css stylesheet */

.widget {
  border: 1px solid #AAA;
  padding: 10px;
}

.closet .category {
  width: 200px;
  text-align: left;
}
.closet .name {
  width: 200px;
  text-align: left;
}
.closet .weight {
  width: 100px;
  text-align: right;
}
